#userAccount #vmenu {
    float: left;
	margin:0;
    padding:0;
	width: 190px;
}
 
#userAccount #vmenu ul{
    width: 180px;
	margin:0;
	padding:1px;
	border:1px solid #cfe7aa;
}

#userAccount #vmenu li{
	display:marker;
    list-style:none;
    padding-bottom:1px;
}

#userAccount #vmenu li a{
    display:block;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:15px;
    font-weight:bold;
    color:#679b14;
    text-shadow:#FFF 1px 1px 1px;
    text-decoration:none;
    background-color:#cfe8a7;
    padding:5px;
    border-left:10px solid #a3d15a;
	cursor:pointer;
}

#userAccount #vmenu li a:hover{
    border-left:14px solid #a3d15a;
    background-color:#c3dd9a;
}

#userAccount #vmenu li a.current:hover{
	background-color:#c3dd9a;
}

#userAccount #vmenu li a.current{
    border-left:14px solid #47a13a;
	font-style:italic;
    background-color:#dff8b7;
	color:#47a13a;
}

#userAccount #workspace
{	
	
	/*padding:8px;*/
	width: 550px;
	min-height: 350px;
	/*border: 1px solid green;*/
}
#userAccount #workspace label
{
	font-size:15px;
	text-align: center;
}

#userAccount #workspace label.label_name
{
	width:200px;
	text-align: left;
	float:left;
}
#userAccount #workspace div.message
{
	width: 600px;
	text-align: center;
}
#Comments_Wrap div
{
	width: 800px;
}
#Comments_Wrap table
{
	width: 400px;
	border: 1px solid green;
}
#Comments_Wrap div.reply
{
	margin-left: 60px;
}
#Comment_Wrap div.content
{
	width: 600px;
	min-height: 40px;
	border: 1px solid green;
}

#userAccount .error,#workSpaceAlert .error{
	border-radius: 5px;
	padding:5px;
}

#userAccount table{
	font-size: 11pt;
}